input {
    mod-key "Alt"
    keyboard {
        xkb {
            layout "us"
            variant "colemak"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
        // Mad Catz R.A.T. 8+ settings
        accel-profile "flat"
        accel-speed 0.3
    }

    focus-follows-mouse
}

hotkey-overlay {
    skip-at-startup
}

output "HDMI-A-1" {
    mode "1920x1080"
}

output "DP-1" {
    mode "1920x1080@143.981003"
    focus-at-startup
    position x=1920 y=0
}

prefer-no-csd

layout {
    gaps 2
    tab-indicator {
        off
    }
    center-focused-column "never"
    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
        proportion 1.0
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 1
        active-color "#EDB6DB"
        inactive-color "#1d1f21"
    }
    border {
        width 1
        active-color "#EDB6DB"
        inactive-color "#1d1f21"
    }

    default-column-display "tabbed"

    shadow {
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
        inactive-color "#00000064"
    }
}

// Window rules
window-rule {
    match app-id="wofi"
    open-floating true
    open-focused true
    opacity 1.0
}

window-rule {
    match app-id="goofcord"
    open-on-output "HDMI-A-1"
    open-focused false
    open-on-workspace "1"
}

window-rule {
    match app-id="Viewnior"
    match title="Volume Control"
    match title="Lautstärkeregler"
    match title="KeePassXC -  Access Request"
    open-floating true
    open-focused true
}

window-rule {
    match title="notificationtoasts_7_desktop"
    default-floating-position x=0 y=0 relative-to="bottom-right" // x=1600 y=0 relative-to="bottom-left"
}

window-rule {
    match app-id="steam"
    match title="Steam"
    open-on-output "HDMI-A-1"
    open-focused false
    open-on-workspace "2"
}

window-rule {
    match app-id="Emacs"
    opacity 0.8
}

window-rule {
    match title="All Files"
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
    min-width 1008
    max-width 1008
    min-height 543
    max-height 543
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match title="VeraCrypt"
    match title="veracrypt1 - Thunar"
    match title="/mnt/veracrypt1"
    match app-id="veracrypt"
    match app-id="KeePassXC"
    block-out-from "screen-capture"
}

gestures {
    hot-corners {
        off
    }
}

// Autostart
spawn-at-startup "dex" "--autostart" "--environment" "niri"
spawn-at-startup "waypaper" "--restore" "--backend" "swaybg"
// spawn-at-startup "sh" "-c" "QT_QPA_PLATFORM=wayland dms run"
spawn-at-startup "vicinae" "server"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swayidle" "-w" "timeout" "300" "hyprlock"
spawn-at-startup "wlr-randr" "--output" "DP-1" "--mode" "1920x1080@143.981003" "--output" "HDMI-A-1" "--mode" "1920x1080" "--scale" "1.0" "--right-of" "DP-1"
// spawn-at-startup "sh" "-c" "keepassxc &"
spawn-at-startup "sh" "-c" "~/.config/niri/bin/niri-sidebar-linux-x86_64 listen"
spawn-at-startup "sh" "-c" "~/.config/niri/bin/oniri-1.2.0-amd64 -T"
spawn-at-startup "sh" "-c" "easyeffects --load-preset Baseline --hide-window"
spawn-at-startup "sh" "-c" "nixmacs --fg-daemon"
spawn-at-startup "sh" "-c" "pkill -9 -f gnome-keyring-daemon"
spawn-at-startup "sh" "-c" "dbus-update-activation-environment --systemd --all"

environment {
    DISPLAY ":0"
}

// Animations
animations {
    slowdown 1.0
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-movement {
        duration-ms 200
        curve "ease-out-cubic"
    }

    workspace-switch {
        duration-ms 200
        curve "ease-out-cubic"
    }
}

screenshot-path "~/Pictures/screenshots/niri-screenshot-%Y-%m-%d-%H-%M-%S.png"

binds {
    Mod+Shift+Return { spawn "kitty"; }

    Mod+Grave { spawn-sh "~/.config/niri/bin/niri-sidebar-linux-x86_64 toggle-window"; }
    Mod+Shift+Grave { spawn-sh "~/.config/niri/bin/niri-sidebar-linux-x86_64 toggle-visibility"; }
    Mod+Ctrl+Grave { spawn-sh "~/.config/niri/bin/niri-sidebar-linux-x86_64 flip"; }
    Mod+Shift+Ctrl+Grave { spawn-sh "~/.config/niri/bin/niri-sidebar-linux-x86_64 reorder"; }

    Mod+Shift+B { spawn "sh" "-c" "dms ipc call bar toggle index 0"; }

    Mod+Space { switch-focus-between-floating-and-tiling; }

    Mod+T { spawn "vicinae" "toggle"; }
    Mod+Ctrl+T { spawn "sh" "-c" "rofi -show drun"; }

    Mod+Shift+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-up; }
    Mod+Down  { focus-window-down; }

    Super+Right { spawn "niri" "msg" "action" "focus-monitor-right"; }
    Super+Left { spawn "niri" "msg" "action" "focus-monitor-left"; }
    Mod+Ctrl+2 { spawn "niri" "msg" "action" "focus-monitor-right"; }
    Mod+Ctrl+1 { spawn "niri" "msg" "action" "focus-monitor-left"; }
    Super+Shift+Right { move-column-to-monitor-right; }
    Super+Shift+Left { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+2 { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+1 { move-column-to-monitor-left; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Down  { move-window-down; }

    Mod+Ctrl+Left  { set-column-width "-10%"; }
    Mod+Ctrl+Right { set-column-width "+10%"; }
    Mod+Ctrl+Shift+Left  { set-column-width "-0.5%"; }
    Mod+Ctrl+Shift+Right { set-column-width "+0.5%"; }
    Mod+Ctrl+Up    { set-window-height "+10%"; }
    Mod+Ctrl+Down  { set-window-height "-10%"; }
    Mod+Ctrl+H     { set-window-height "100%"; }

    Mod+V { set-column-width "+10%"; }
    Mod+Shift+V { set-column-width "-10%"; }

    Mod+Comma  { set-column-width "33%"; }
    Mod+Period { set-column-width "50%"; }

    Mod+Tab { toggle-overview; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+Shift+T { fullscreen-window; }

    Mod+M { maximize-column; }
    Mod+Shift+Tab { maximize-column; }
    Mod+Y { set-column-width "50%"; }

    Mod+Shift+F { spawn "nixmacs"; }
    Super+N { spawn "kate"; }
    Super+Q { spawn "copyq" "toggle"; }
    Mod+Shift+S { spawn "sh" "-c" "helium --enable-features=UseOzonePlatform --ozone-platform=wayland"; }
    Mod+A { spawn "sh" "-c" "grim -g \"$(slurp -b 1d1f2150 -s ffffff25)\" -t png - | wl-copy"; }
    Mod+C { spawn "sh" "-c" "hyprpicker | tr -d '\n' | wl-copy"; }
    Super+Shift+G { spawn "sh" "-c" "goofcord --disable-gpu --enable-features=UseOzonePlatform --ozone-platform=wayland"; }
    Super+Shift+D { spawn "sh" "-c" "QT_QPA_PLATFORM=wayland dms run"; }
    Super+M { spawn "tauon"; }
    Super+A { spawn "pavucontrol"; }
    Mod+Z { spawn "hyprmagnifier" "--size" "512x512"; }

    Mod+Shift+P { spawn "sh" "-c" "notify-send 'Niri' 'Reloading configuration...' && niri msg action load-config-file && notify-send 'Niri' 'Successfully Reloaded Config'"; }
    Super+Shift+X { quit; }

    Super+L { spawn "sh" "-c" "dms ipc call lock lock"; }
    Super+C { spawn "sh" "-c" "dms ipc call clipboard open"; }
    Super+E { spawn "thunar"; }

    Super+1 { spawn "sh" "-c" "pkill swayidle && notify-send 'Screensaver' 'Turned OFF.' -i /home/puppy/Pictures/no.png"; }
    Super+2 { spawn "sh" "-c" "swayidle -w timeout 300 hyprlock & notify-send 'Screensaver' 'Turned ON.' -i /home/puppy/Pictures/yes.png"; }

    Super+T { toggle-column-tabbed-display; }
    Mod+Shift+Space { toggle-window-floating; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
}

debug {
    render-drm-device "/dev/dri/renderD128"
}

include "dms/outputs.kdl"

include "dms/cursor.kdl"

include "dms/windowrules.kdl"
