/*
 *
 * Author : librepup
 * Github : @librepup
 *
 **/

/* Theme */
@import                          "themes/mori/theme.rasi"

/* Configuration */
configuration {
  combi-modes: [drun,run];
	modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
	drun-display-format:        " {name}";
	window-format:              "{w} · {c} · {t}";
  ml-row-down: "ScrollDown";
  ml-row-up: "ScrollUp";
  me-accept-entry: "MousePrimary";
  me-accept-custom: "Control+MouseDPrimary";
  me-select-entry: "Shift+MousePrimary";
  kb-primary-paste: "Control+y";
  /* on-entry-accepted: "/home/puppy/.config/rofi/scripts/runEntry.sh"; */
}
